{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Farmers Schemes</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  <h1><b>Farmers Schemes</b></h1>

  <div class="scheme-container">
    <a href="AIF"><h2>Agriculture Infrastructure Fund</h2></a>
    <p>A pan India Central Sector Scheme providing debt financing facility for investment in Agri infrastructure.</p>
  </div>

  <div class="scheme-container">
    <a href="CFFF"><h2>Credit Facility for Farmers</h2></a>
    <p>Provides information related to institutional credit available for farmers.</p>
  </div>

  <div class="scheme-container">
    <a href="CIS"><h2>Crop Insurance Schemes</h2></a>
    <p>Scheme to safeguard farmers from financial loss occurring due to non-preventable natural risks.</p>
  </div>
  <div class="scheme-container">
    <a href="Krishi"><h2>Krishi UDAN Scheme</h2></a>
    <p>The Krishi UDAN 2.0 will be implemented at 53 airports across the country mainly focusing on Northeast and tribal regions and is likely to benefit farmer, freight forwarders and Airlines.</p>
  </div>

  <div class="scheme-container">
    <a href="MAS"><h2>Mission Amrit Sarovar</h2></a>
    <p>Mission Amrit Sarovar is construction/development of at least 75 Amrit Sarovar (ponds) in every district of the country.</p>
  </div>

  <div class="scheme-container">
    <a href="NMOEO"><h2>National Mission on Edible Oils</h2></a>
    <p>Provides information about National Mission on Edible Oils – Oil Palm.</p>
  </div>

  <div class="scheme-container">
    <a href="NMONF"><h2>National Mission on Natural Farming</h2></a>
    <p>Provides information about National Mission on Natural Farming.</p>
  </div>
  <div class="scheme-container">
    <a href="KMDY"><h2>PM Kisan Maan Dhan Yojana</h2></a>
    <p>Scheme to provide social security to Small and Marginal Farmers in their old age.</p>
  </div>

  <div class="scheme-container">
    <a href="PMKSN"><h2>Pradhan Mantri Kisan Samman Nidhi</h2></a>
    <p>Income support scheme for all farmers.</p>
  </div>

  <div class="scheme-container">
    <a href="PMKSY"><h2>Pradhan Mantri Krishi Sinchai Yojana</h2></a>
    <p>Scheme to ensure access to protective irrigation to all agricultural farms in the country.</p>
    </div>
  <div class="scheme-container">
    <a href="PMFBY"><h2>Pradhan Mantri Fasal Bima Yojana</h2></a>
    <p>Provides crop insurance coverage and financial support to farmers in case of crop loss due to natural calamities, pests, or diseases.</p>
  </div>
</body>
</html>
