{% extends 'Supplierbase.html' %}

{% block title %}SupplierDashboard
{% endblock title %}

{% block style %}
body {
    background-image: url('https://static.businessworld.in/article/article_extra_large_image/1594113196_DUYgeA_Agritech_FINAL.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #cnt{
    height:150px;
    width:500px;
    margin: 250px auto;
    justify-content: center;
    text-align: center;
    background-color: white;
  }
  {% endblock style %}

{% block body %}
<div id="cnt">
  <h1>Welcome to Farmer Dashboard</h1>
  <button type="submit"><a href="/Sppsignout">Sign Out</button>
</div>
{% endblock body %}