{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Supplier Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'supplier.css' %}">
  </head>
  <body>
    <nav>
        <ul>
          <li><a href="{% url 'landing_page' %}">Home</a></li>
          <li><a href="#">Info</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="{% url 'supplier_login' %}">Login</a></li>
        </ul>
      </nav>
    <div class="login-form">
      <h1>Supplier Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
      </form>
      {% comment %} <p>Not registered? <a href="{% url 'supplier_register' %}">Sign up</a></p> {% endcomment %}
    </div>
  </body>
</html>