{% extends 'Supplierbase.html' %}

{% block title %}Your Order
{% endblock title %}

{% block style %}
body {
    background-image: url('https://static.businessworld.in/article/article_extra_large_image/1594113196_DUYgeA_Agritech_FINAL.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .bn{
    padding: 6px 9px;
    margin: 3px 6px;
  }
  .tt{
    display : flex;
  }
{% endblock style %}

{% block body %}
<h1 class="text-center my-3">All Order</h1>
<h1 class="text-center my-3">List of Orders</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#SNo.</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Phone Number</th>
                                <th>Crop Name</th>
                                <th>Crop Quantity</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ord in FarmerOrder %}
                            <tr>
                                <td>{{ord.id}}</td>
                                <td>{{ord.name}}</td>
                                <td>{{ord.email}}</td>
                                <td>{{ord.phone}}</td>
                                <td>{{ord.crop_name}}</td>
                                <td>{{ord.crop_quantity}}</td>
                                <td>{{ord.address}}</td>
                                <td>{{ord.city}}</td>
                                <td>{{ord.state}}</td>
                                <td>{{ord.zip}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}